<%- include('../_layouts/admin-head') %> <%- include('../_layouts/admin-header')
%>

<div class="container mt-5">
  <h2 class="page-title">All pages here</h2>
</div>

<%- include('../_layouts/admin-footer') %>
