.table {
}

.table tr {
  cursor: grab;
}

.table thead th,
.table tr:nth-of-type(even) {
  background: #eee;
}

.table tr:nth-of-type(odd) {
  background: #ccc;
}

.ui-state-hightlight {
  border: 1px dashed #000;
}

.top_title_wrap {
  display: flex;
  justify-content: space-between;
}

.btn.btn-secondary {
  line-height: 1.8;
  height: 45px;
}
